@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&family=Roboto:wght@400;700&family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/satoshi');
/*Обнуляющие стили*/
/*Очистим все отступы и границы*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*Убираем линии обводки некоторых браузеров*/
:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

/*задаем блочными теги Html5*/
nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    /* font-family: "Lato", sans-serif; */
    
    /* line-height: 30px;
    font-size: 20px; */
    /* color: #1e1744; */
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*задаем наследование шрифтов*/
input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    /* color: #292929; */
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

.frame_1{
    position: relative;
    min-height: 953px;
    max-width: 1440px;
    background: #3D5DDB;


}



.head{
    padding-top: 5px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

}


.top1{
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1139.39px;
    min-height: 116px;
    justify-content: space-between;
    align-items: center;
}


.line{
    
    max-width: 1440px;
    height: 0px;
    left: 0px;
    top: 116px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.navi{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    padding-right: 24px;
    padding-left: 24px;
}

.ngroup2 h1{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 44.5161px;
    line-height: 104%;
    color: #FFFFFF;
}
.ngroup2 h1::before{
    content: url('img/Vector.png')
    
}
.botom1{
    position: relative;
    height: 837px;
    overflow: hidden;
}
.building{
    position: absolute;
    right: -300px;
    bottom: -100px; 
    opacity: 70%;
    animation: anime 3s 1 ease-out;
    animation-fill-mode: forwards;
    overflow: hidden;
}
@keyframes anime{
    100%{
        right: 0px;
        bottom: 0px;
        opacity: 1; 
    }
    
}
.group1{
    transition: 1s;
}
.group1 img{
    max-width: 360px;
    max-height: 360px;
    transition: 1.5s;
}
.group1:hover{
    transform: scale(1.02);
}
.group1:hover img{
    transform: scale(1.05);
}
.block1{
    padding-top: 122px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    display: block;
}

.block1 h1{
    max-width: 586px;
    min-height: 267px;
    margin-bottom: 42px;

    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 104.5%;
    color: #FFFFFF;
}
.block1 h2{
    margin-bottom: 42px;
    max-width: 393px;
    max-height: 120px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 168.5%;
    color: #FFFFFF;
}
.bblock{
    
    width: 162px;
    height: 54px;
    background-color: #171717;
}  
.bblock h3{
    width: 86px;
    height: 30px;
    font-family: 'Satoshi', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 168.5%;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    
}
.navi:active{
    filter: brightness(80%);
}
.navi:hover{
    cursor: pointer;
}
.navi:active{
    filter: brightness(80%);
}
.group3 a:hover{
    cursor: pointer;
}
.frame_2{
    position: relative;
    min-height: 814px;
    max-width: 1440px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

body{
    background-color: #F7F7F7;
}

.girl{
    position: sticky;
    margin-left: auto;
    margin-top: 120px;
    padding-right: 90px;
    padding-left: 20px;
    transition: 0.5s;
}
.girl:hover{
    transform: scale(1.10);
}
.block2{
    margin-top: 173px;
    margin-right: auto;
    padding-right: 20px;
    max-width: 557px;
    display: flex;
    flex-direction: column;
}
.block2 h1{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 106%;
    color: #171717;
}

.block2 h2{
    margin-top: 35px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 168.5%;
    color: #171717;
}
.bblock2{
    margin-top: 38px;
    width: 162px;
    height: 54px;
    background-color: #171717;
    margin-bottom: 20px;
}

.bblock2 h3{
    width: 86px;
    height: 30px;
    font-family: 'Satoshi', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 168.5%;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}
.frame_3{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    min-height: 827px;
    background-image: url('img/Rectangle 52.png');
}

.frame_3 img{
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
}
.frame_4{
    min-height: 1151.19px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}
.container{
    margin: auto 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
}
.flex_4{
    display: flex;
    flex-direction: column;
}
.flex_4 h1{
    margin-top: 120px;
    max-width: 557px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 106%;
    color: #171717;
}
.imagegroup{
    display: flex;
    flex-direction: row;
    margin-top: 56px;
}
.group1 h3{
    margin-top: 32px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 104.5%; 
    color: #171717;   
}
.group1 h4{
    margin-top: 18px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 168.5%;
    color: #171717;
}
.group1 h5{
    margin-top: 5px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 168.5%;
    color: #171717;
}
.group1 h5::before{
    content: url('img/Frame.png');
}
.group1 h2{
    margin-top: 15px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 104.5%;
    color: #3D5DDB;
}
.ngroup1{
    margin-right: 30px;
}

.group2 h3{
    margin-top: 32px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 104.5%; 
    color: #171717;   
}
.group2 h4{
    margin-top: 18px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 168.5%;
    color: #171717;
}
.group2 h5{
    margin-top: 5px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 168.5%;
    color: #171717;
}
.group2 h5::before{
    content: url('img/Frame.png');
}
.group2 h2{
    margin-top: 15px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 104.5%;
    color: #3D5DDB;
}
.ngroup3{
    margin-right: 30px;
    margin-left: 30px;
}
.group3 h3{
    margin-top: 32px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 104.5%; 
    color: #171717;   
}
.group3 h4{
    margin-top: 18px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 168.5%;
    color: #171717;
}
.group3 h5{
    margin-top: 5px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 168.5%;
    color: #171717;
}
.group3 h5::before{
    content: url('img/Frame.png');
}
.group3 h2{
    margin-top: 15px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 104.5%;
    color: #3D5DDB;
}
.logos{
    position: relative;
    

    max-width: 1140px;
    min-height: 78.45px;
    margin-top: 120px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.group1 h2:active,
.group2 h2:active,
.group3 h2:active{
    color: #5f17b3;
}
.frame_5{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    min-height: 819.81px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    
}
.top5{

    margin-top: 108.81px;
    position: sticky;
    max-width: 1140.37px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    
}
.top5 h1{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 106%;
    color: #171717;
}
.top5 .group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.left{
    margin-right: 60px;
    content: url('img/Group 19.png');
}
.right{

    content:url('img/Group 20.png');
}
.bot5 .bgroup1{
    display: flex;
    flex-direction: column;
}
.bgroup1{
    margin-top: 100px;
    
    max-width: 557px;
    position: relative;
}
.bgroup1 img{
    width: 45px;
    height: 45px;

}
.bgroup1 h1{
    margin-top: 32px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 106%;
    color: #171717;
}
.bgroup1 h2{
    margin-top: 32px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 168.5%;
    color: #171717;
   
}
.left:hover{
    filter: brightness(50%);
    cursor: pointer;
    
}
.right:hover{
    filter: brightness(50%);
    cursor: pointer;
}
.x{
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    margin-left: 18px;
}
.x:hover{
    cursor: pointer;
}
.profile{
    display: flex;
    flex-direction: row;
    margin-top: 38px;
}
.x h3{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 106%;
    color: #171717;
}
.x h4{
    margin-top: 4px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 168.5%;
    color: #171717;
}
.profile img{
    width: 70px;
    height: 70px;
}
.bgroup2{
    margin-top: 100px;
    
    max-width: 557px;
    position: relative;
}
.bgroup2 img{
    width: 45px;
    height: 45px;

}
.bgroup2 h1{
    margin-top: 32px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 106%;
    color: #171717;
}
.bgroup2 h2{
    margin-top: 32px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 168.5%;
    color: #171717;
}
.bot5{
    display: flex;
    flex-direction: row;
}
.profile img{
    width: 70px;
    height: 70px;
}
.logos img:hover {
    filter: brightness(50%);
}

.frame_6{
    position: relative;
    max-width: 1440px;
    min-height: 1284px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}
.gblock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* position:absolute; */
    width: 1097px;
    height: 623px;
    background-color: #F7F7F7;
}
.gblock h1{
    margin-left: 152px;
    margin-bottom: 38px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 106%;
    color: #171717;

}
.gblock h2{
    margin-left: 152px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 168.5%;
    color: #171717;

}
.blue{
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    width: 608px;
    min-height: 673px;
    background-color: #3D5DDB;
    /* margin-left: 832px;
    margin-top: 100px; */
    /* transform: translate(-261px,100px); */
    margin-left:-261px;
    margin-top: 100px;
}
.line1{
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 32px;
}
.container1{
    margin: 65px;
    /* margin-left: 65px; */
}
.container1 h3,
.container1 h5,
.container1 h1{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 106%;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.container1 h5{
    margin-bottom: 85px;
}

.container1 h6{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 168.5%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 12px;
}
.bblock3{
    position: relative;
    margin-top: 45px;
    width: 162px;
    height: 54px;
    background-color: #171717;
    cursor: pointer;
}
.bblock3:active{
    filter: brightness(50%);
}
.bblock2:active{
    filter: brightness(50%);
}
.bblock:active{
    filter: brightness(50%);
}
.frame_3 img:active{
    filter: brightness(80%);
}
.bblock3 h1{
    position: absolute;
    width: 86px;
    height: 30px;
    font-family: 'Satoshi', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 168.5%;
    color: #FFFFFF;
    margin-left: 45px;
    margin-top: 12px;
}
.container1 input[type="email"],
.container1 input[type="text"] {
    margin-bottom: 12px;
    height: 30px;
    width: auto;
    border: 0px;
    color: rgba(255, 255, 255, 0.8);
    background-color: #3D5DDB;
    outline: none;
    font-family: 'Open Sans';
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 168.5%;
    cursor: pointer;
    
}
.container2{
    display: flex;
    justify-content: space-between;
    
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    min-height: 228px;
}
.container2 .wblock1{
    display: flex;
    flex-direction: column;
}
.wblock1 h1{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 106%;
    color: #171717;
    margin-bottom: 24px;
}
.wblock1 h2{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 168.5%;
    color: #171717;
}
.block21{
    max-width: 526px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.block21 h1{
    
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #171717;
    margin-bottom: 12px;
    cursor: pointer;
}
.block21 h3{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 106%;
    color: #171717;
    margin-bottom: 42px;
}
.block21 h2{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 168.5%;
    color: #171717;
    margin-bottom: 12px;
    cursor: pointer;
}
.block_container{
    
    display: flex;
    flex-direction: row;
}
.imagegroup .group1,
.imagegroup .group2{
    margin-right: 30px;
}
.lblock1,
.lblock2{
    margin-right: 30px;
    margin-bottom: 30px;
}